<div id="global-container">
  <mat-toolbar color="primary">
    <span>Detection of Lung Diseases in Chest X-Rays</span>
    <span id="filler"></span>

    <span id="right">
      <a (click)="imageService.getZip()" *ngIf="imageService.isReady()"
         download="results.zip" id="download-link">
        Download results <mat-icon id="get">get_app</mat-icon>
      </a>
    </span>
    <div *ngIf="!(identity$ | async)">
      <button mat-button (click)="login()">Login <mat-icon>login</mat-icon></button>
    </div>
    <div *ngIf="identity$ | async as identity" class="log">
      <div class="name">
        {{identity.identity.traits['first_name']}} {{identity.identity.traits['last_name']}}
      </div>
      <button mat-button (click)="logout()"><mat-icon>logout</mat-icon></button>
    </div>
  </mat-toolbar>

  <div fxLayoutAlign="space-evenly stretch" id="workspace">
    <app-image-browser fxFlexAlign="center stretch"
                       fxLayout="column"></app-image-browser>
    <mat-divider [vertical]="true"></mat-divider>
    <app-image-analyse></app-image-analyse>
  </div>
</div>
