#global-container {
  width: 100%;
  height: 100%;
}

#workspace {
  width: 100%;
  height: calc(100% - 64px);
}

#filler {
  flex: 1 1 auto;
}

mat-toolbar {
  min-height: 64px;
}

app-image-browser {
  width: 15%;
}

app-image-analyse {
  width: 85%;
}

span {
  vertical-align: center;
}

#get {
  display: inline-flex;
  vertical-align: middle;
}

#download-link:hover {
  cursor: pointer !important;
}
