<div id="global-container">
  <mat-toolbar>
    <span>Demo X-Ray Analysis</span>
    <span id="filler"></span>
    <a (click)="imageService.getZip()" download="results.zip">
      <span id="right">
        Download results <mat-icon id="get">get_app</mat-icon>
      </span>
    </a>
  </mat-toolbar>

  <div fxLayoutAlign="space-evenly stretch" id="workspace">
    <app-image-browser fxLayout="column" fxFlexAlign="center stretch"></app-image-browser>
    <mat-divider [vertical]="true"></mat-divider>
    <app-image-analyse></app-image-analyse>
  </div>
</div>
