/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
  width: 100%;
  height: 100%;
  display: block
}

@import '~@angular/material/theming';
@include mat-core();

$accent: mat-palette($mat-pink);
$warn: mat-palette($mat-red);

.green {
  $green_theme: mat-light-theme(mat-palette($mat-green), $accent, $warn);
  @include angular-material-theme($green_theme);
}

.yellow {
  $yellow_theme: mat-light-theme(mat-palette($mat-yellow), $accent, $warn);
  @include angular-material-theme($yellow_theme);
}

.red {
  $red_theme: mat-light-theme(mat-palette($mat-red), $accent, $warn);
  @include angular-material-theme($red_theme);
}
