<div *ngIf="$image | async; let image" class="centered_column" id="container">
  <h3>{{image.filename}}</h3>
  <div *ngIf="image.$analysisResults | async; let results" class="centered_row"
       id="images">
    <div class="centered_column">
      <h4>Normalized image</h4>
      <img [src]="results.norm" alt="norm"/>
      <a [download]="image.filename"
         [href]="results.norm">Download Normalized</a>
    </div>
    <div class="centered_column">
      <h4>Processed image</h4>
      <img [src]="results.proc" alt="proc"/>
      <a [download]="image.filename"
         [href]="results.norm">Download Processed</a>
    </div>
  </div>
  <div *ngIf="image.$analysisResults | async; let results" id="scores">
    <app-score *ngFor="let key of names()" [name]="key"
               [score]="results.data[key]" style="grid-area: {{key}}">
    </app-score>
  </div>
</div>
