<div *ngIf="$image | async; let image " class="centered_column container">
  <h3 *ngIf="image.$analysisResults | async">{{image.filename}}</h3>
  <div *ngIf="!image.error && image.$analysisResults | async; let results"
       class="centered_row"
       id="images">
    <div class="centered_column">
      <h4>Нормализованное изображение</h4>
      <img [src]="results.norm" alt="norm"/>
      <a [download]="image.filename + '-norm.png'"
         [href]="results.norm">Скачать Нормализованное</a>
    </div>
    <div class="centered_column">
      <h4>Обработанное изображение</h4>
      <img [src]="results.proc" alt="proc"/>
      <a [download]="image.filename + '-proc.png'"
         [href]="results.proc">Скачать Обработанное</a>
    </div>
  </div>
  <div *ngIf="!image.error && image.$analysisResults | async; let results"
       id="scores">
    <app-score *ngFor="let key of names()" [hideScore]="key !== 'class_number'"
               [name]="key"
               [score]="results.data[key]" style="grid-area: {{key}}">
    </app-score>
  </div>
  <div *ngIf="!(image.$analysisResults | async)" class="tip">
    Please wait for the image to be analyzed. Results will appear here.
  </div>
  <div *ngIf="image.error" class="tip">Error</div>
</div>

<div *ngIf="!($image | async) || (imageService.images.length == 0)"
     class=" container centered_column">
  <span class="warn"><b>НЕ ДЛЯ ДИАГНОСТИЧЕСКОГО ИСПОЛЬЗОВАНИЯ</b></span>
  <span *ngIf="!identity" class="warn-login">Войдите для использования сервиса</span>
  <span class="tip">Добавьте рентгеновские изображения грудной клетки для анализа. Нажмите на одно из изображений слева, чтобы просмотреть результаты.</span>
</div>
