<div *ngIf="$image | async; let image " class="centered_column container">
  <h3 *ngIf="image.$analysisResults | async">{{image.filename}}</h3>
  <div *ngIf="!image.error && image.$analysisResults | async; let results"
       class="centered_row"
       id="images">
    <div class="centered_column">
      <h4>Normalized image</h4>
      <img [src]="results.norm" alt="norm"/>
      <a [download]="image.filename"
         [href]="results.norm">Download Normalized</a>
    </div>
    <div class="centered_column">
      <h4>Processed image</h4>
      <img [src]="results.proc" alt="proc"/>
      <a [download]="image.filename"
         [href]="results.proc">Download Processed</a>
    </div>
  </div>
  <div *ngIf="!image.error && image.$analysisResults | async; let results"
       id="scores">
    <app-score *ngFor="let key of names()" [hideScore]="key !== 'class_number'"
               [name]="key"
               [score]="results.data[key]" style="grid-area: {{key}}">
    </app-score>
  </div>
  <div *ngIf="!(image.$analysisResults | async)" class="tip">
    Please wait for image to be processed. Results will appear here.
  </div>
  <div *ngIf="image.error" class="tip">Error</div>
</div>

<div *ngIf="!($image | async) || (imageService.images.length == 0)"
     class=" container centered_column tip">
  Add images to be processed. Click on one of them to see results.
</div>
