<div id="browser">
  <div *ngFor="let image of imageService.images" class="image_handler"
       fxFlexAlign="center center">
    <img (click)="imageService.select(image)"
         [src]="sanitizer.bypassSecurityTrustUrl(image.imageURL)"
         alt="image"/>
  </div>
</div>
<input id="upload" #upload multiple type="file" hidden accept="image/*"/>
<button (click)="onAddClick()" color="primary" id="add" mat-raised-button>Add
  Image
</button>
<button (click)="imageService.reset()" color="warn" id="reset"
        mat-raised-button>Reset
</button>
