<div id="browser">
  <div *ngFor="let image of imageService.images" class="image_handler"
       (click)="imageService.select(image)" fxFlexAlign="center center">
    <mat-spinner *ngIf="!image.loaded" diameter="{{iconSize}}"></mat-spinner>
    <mat-icon *ngIf="image.loaded && !image.error"
              [ngStyle]="{'color':'green', 'font-size': iconSize + 'px'}">
      check_circle
    </mat-icon>
    <mat-icon *ngIf="image.loaded && image.error"
              [ngStyle]="{'color':'red', 'font-size': iconSize + 'px'}">
      error
    </mat-icon>
    <img [src]="sanitizer.bypassSecurityTrustUrl(image.imageURL)"
         alt="image"/>
    <div class="filename">{{image.filename}}</div>
  </div>
</div>
<mat-icon *ngIf="imageService.images.length == 0" id="arrow">arrow_downward</mat-icon>
<button (click)="onAddClick()" color="primary" id="add" mat-raised-button [disabled]="identity == undefined ? true : null">
  Добавить изображения
</button>
<button (click)="imageService.reset()" color="warn" id="reset"
        [disabled]="imageService.images.length == 0" mat-raised-button>Сброс
</button>
